$color-primary-50: #f2f0fe;
$color-primary-500: #806df9;
$color-primary-700: #5b4db1;
$color-primary-800: #463c89;

$color-secondary-700: #867ca3;
$color-secondary-800: #68607f;
$color-secondary-900: #4f4a61;

$color-success-600: #3fad94;
$color-success-700: #318774;
$color-success-800: #26695a;

$color-danger-400: #f56364;
$color-danger-600: #dc3738;
$color-danger-700: #ac2b2b;

$white: #ffffff;
