<div class="container">
  <div class="section">
    <div class="row">
      <h3>Checkbox Input (Directive)</h3>
    </div>

    <div class="row">
      <div class="form-field">
        <input type="checkbox" shapCheckbox [size]="'small'" />
        <label class="label-small">Checkbox Label</label>
      </div>

      <div class="form-field">
        <input type="checkbox" shapCheckbox [size]="'medium'" />
        <label class="label-medium">Checkbox Label</label>
      </div>

      <div class="form-field">
        <input type="checkbox" shapCheckbox [size]="'large'" />
        <label class="label-large">Checkbox Label</label>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <h3>Checkbox Input (Component)</h3>
    </div>

    <div class="row">
      <div class="form-field">
        <shap-checkbox [size]="'small'" />
        <label class="label-small">Checkbox Label</label>
      </div>

      <div class="form-field">
        <shap-checkbox [size]="'medium'" />
        <label class="label-medium">Checkbox Label</label>
      </div>

      <div class="form-field">
        <shap-checkbox [size]="'large'" />
        <label class="label-large">Checkbox Label</label>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />

<div class="container">
  <div class="section">
    <div class="row">
      <h3>Button Variants</h3>
    </div>

    <div class="row">
      <shap-button [value]="'Small'" [size]="'small'" [color]="'primary'" />
      <shap-button [value]="'Medium'" [size]="'medium'" [color]="'primary'" />
      <shap-button [value]="'Large'" [size]="'large'" [color]="'primary'" />
    </div>

    <div class="row">
      <shap-button [value]="'Small'" [size]="'small'" [color]="'secondary'" />
      <shap-button [value]="'Medium'" [size]="'medium'" [color]="'secondary'" />
      <shap-button [value]="'Large'" [size]="'large'" [color]="'secondary'" />
    </div>

    <div class="row">
      <shap-button [value]="'Small'" [size]="'small'" [color]="'success'" />
      <shap-button [value]="'Medium'" [size]="'medium'" [color]="'success'" />
      <shap-button [value]="'Large'" [size]="'large'" [color]="'success'" />
    </div>

    <div class="row">
      <shap-button [value]="'Small'" [size]="'small'" [color]="'danger'" />
      <shap-button [value]="'Medium'" [size]="'medium'" [color]="'danger'" />
      <shap-button [value]="'Large'" [size]="'large'" [color]="'danger'" />
    </div>
  </div>

  <div class="section">
    <div class="row">
      <h3>Button with Icons</h3>
    </div>

    <div class="row">
      <shap-button
        [value]="'Small'"
        [size]="'small'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
      />
      <shap-button
        [value]="'Medium'"
        [size]="'medium'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
      />
      <shap-button
        [value]="'Large'"
        [size]="'large'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
      />
    </div>

    <div class="row">
      <shap-button
        [value]="'Small'"
        [size]="'small'"
        [color]="'primary'"
        [icons]="{ right: 'chevron-right' }"
      />
      <shap-button
        [value]="'Medium'"
        [size]="'medium'"
        [color]="'primary'"
        [icons]="{ right: 'chevron-right' }"
      />
      <shap-button
        [value]="'Large'"
        [size]="'large'"
        [color]="'primary'"
        [icons]="{ right: 'chevron-right' }"
      />
    </div>

    <div class="row">
      <shap-button
        [value]="'Small'"
        [size]="'small'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left' }"
      />
      <shap-button
        [value]="'Medium'"
        [size]="'medium'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left' }"
      />
      <shap-button
        [value]="'Large'"
        [size]="'large'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left' }"
      />
    </div>
  </div>

  <div class="section">
    <div class="row">
      <h3>Button with Stroke Widths</h3>
    </div>

    <div class="row">
      <shap-button
        [value]="'Small'"
        [size]="'small'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
        [iconStrokeWidth]="1"
      />
      <shap-button
        [value]="'Medium'"
        [size]="'medium'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
        [iconStrokeWidth]="1"
      />
      <shap-button
        [value]="'Large'"
        [size]="'large'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
        [iconStrokeWidth]="1"
      />
    </div>

    <div class="row">
      <shap-button
        [value]="'Small'"
        [size]="'small'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
        [iconStrokeWidth]="4"
      />
      <shap-button
        [value]="'Medium'"
        [size]="'medium'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
        [iconStrokeWidth]="4"
      />
      <shap-button
        [value]="'Large'"
        [size]="'large'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
        [iconStrokeWidth]="4"
      />
    </div>

    <div class="row">
      <shap-button
        [value]="'Small'"
        [size]="'small'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
        [iconStrokeWidth]="8"
      />
      <shap-button
        [value]="'Medium'"
        [size]="'medium'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
        [iconStrokeWidth]="8"
      />
      <shap-button
        [value]="'Large'"
        [size]="'large'"
        [color]="'primary'"
        [icons]="{ left: 'chevron-left', right: 'chevron-right' }"
        [iconStrokeWidth]="8"
      />
    </div>
  </div>
</div>
