<div class="container">
  <div class="row">
    <shap-button [value]="'Small'" [size]="'small'" [color]="'primary'" />
    <shap-button [value]="'Medium'" [size]="'medium'" [color]="'primary'" />
    <shap-button [value]="'Large'" [size]="'large'" [color]="'primary'" />
  </div>

  <div class="row">
    <shap-button [value]="'Small'" [size]="'small'" [color]="'secondary'" />
    <shap-button [value]="'Medium'" [size]="'medium'" [color]="'secondary'" />
    <shap-button [value]="'Large'" [size]="'large'" [color]="'secondary'" />
  </div>

  <div class="row">
    <shap-button [value]="'Small'" [size]="'small'" [color]="'success'" />
    <shap-button [value]="'Medium'" [size]="'medium'" [color]="'success'" />
    <shap-button [value]="'Large'" [size]="'large'" [color]="'success'" />
  </div>

  <div class="row">
    <shap-button [value]="'Small'" [size]="'small'" [color]="'danger'" />
    <shap-button [value]="'Medium'" [size]="'medium'" [color]="'danger'" />
    <shap-button [value]="'Large'" [size]="'large'" [color]="'danger'" />
  </div>
</div>
